:root {
  // size
  --glob-vars_size-read: calc(1 * min(1vw, 1vh));
  --glob-vars_size-watch: 1vw;

  // color
  --glob-vars_color-black: #0b0909;
  --glob-vars_color-white: #fafafa;

  --glob-vars_color-primary-300: #f24066;
  --glob-vars_color-primary-400: #f50035;
  --glob-vars_color-primary-500: #c5002b;
  // breakpoint
}
