/* https://www.codementor.io/@ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g */

$body--font-size: calc(14px + 0.35 * var(--glob-vars_size-read));
$body--line-height-multiplier: 1.5;
$body--line-height: calc($body--line-height-multiplier * $body--font-size);
$h-family--line-height-multiplier: 1;
$margin-bottom-multiplier: 0.5;
/* autoprefixer grid: autoplace */
body {
  font-family: "Roboto", Helvetica, sans-serif;
  // --body--font-size: calc(14px + 0.35 * var(--glob-vars_size-read));
  font-size: $body--font-size;
  line-height: $body--line-height;
  color: var(--glob-vars_color-black);
}

h1 {
  $this-font-size: 1.912em;
  font-size: $this-font-size;
  line-height: max(
    $h-family--line-height-multiplier * $this-font-size,
    $body--line-height
  );
}

h2 {
  $this-font-size: 1.616em;
  font-size: $this-font-size;
  line-height: max(
    $h-family--line-height-multiplier * $this-font-size,
    $body--line-height
  );
}

h3 {
  $this-font-size: 1.471em;
  font-size: $this-font-size;
  line-height: max(
    $h-family--line-height-multiplier * $this-font-size,
    $body--line-height
  );
}

h4 {
  $this-font-size: 1.3em;
  font-size: $this-font-size;
  line-height: max(
    $h-family--line-height-multiplier * $this-font-size,
    $body--line-height
  );
}

h5 {
  $this-font-size: 1.243em;
  font-size: $this-font-size;
  line-height: max(
    $h-family--line-height-multiplier * $this-font-size,
    $body--line-height
  );
}

h6 {
  $this-font-size: 1.132em;
  font-size: $this-font-size;
  line-height: max(
    $h-family--line-height-multiplier * $this-font-size,
    $body--line-height
  );
}
