// since we need to setup the definition of 1em first, this file should be loaded after typograpy setup

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 calc(12px + 1.05 * var(--glob-vars_size-read)) 0;
  /* Responsive margins */
}

:is(h1, h2, h3, h4, h5, h6):last-child {
  margin-bottom: 0;
  /* Responsive margins */
}

* + * {
  margin: 0 0 1em;
}
