@use "glob-vars.scss";

// layout
.utils_layout {
  &--limit-for-readibility {
    max-width: glob-vars.$readable-width;
    padding: 1em;
  }
}

[class*="utils_layout--grid"] {
  display: grid;
  gap: 1em;
}

.utils_layout--grid {
  &-even-columns--m-size {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(glob-vars.$grid--m-size, 100%), 1fr)
    );
  }
}
$glob-vars_breakpoint--m-size: 40em; //glob-vars.$breakpoint--m-size;
@media (min-width: glob-vars.$breakpoint--m-size) {
  .utils_layout--grid-auto-flow--m-size {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
// box
.utils_box {
  // padding
  &--p--3em {
    padding: 3em;
  }

  // centering
  &--center-children--stretch {
    display: grid;
    place-content: center;
  }

  &--center-children--fit {
    display: grid;
    place-items: center;
  }

  &--center-self {
    margin: auto;
  }

  // display
  &--display--inline {
    display: inline;
  }

  &--display--block {
    display: block;
  }

  &--display--inline-block {
    display: inline-block;
  }
}

// text
.utils_text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--justify {
    text-align: justify;
  }

  &--match-parent {
    text-align: match-parent;
  }
}

// effect

.utils_effect {
  // Kevin Powell's favorite button
  &--kp-btn:hover,
  &--kp-btn:focus {
    transform: scale(1.2);
  }

  @supports selector(:focus-visible) {
    &--kp-btn:focus {
      transform: scale(1);
    }

    &--kp-btn:focus-visible {
      outline-offset: 0.5em;
    }
  }
}

// shadow
