// layout

.utils_layout {
  &--limit-for-readibility {
    max-width: 40em;
  }
}

// box

.utils_box {
  // padding
  &--p--3em {
    padding: 3em;
  }

  // centering
  &--center-children--stretch {
    display: grid;
    place-content: center;
  }
  &--center-children--fit {
    display: grid;
    place-items: center;
  }
  &--center-self {
    margin: auto;
  }

  // display
  &--display--inline {
    display: inline;
  }
  &--display--block {
    display: block;
  }
  &--display--inline-block {
    display: inline-block;
  }
}

// text

.utils_text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--justify {
    text-align: justify;
  }
  &--match-parent {
    text-align: match-parent;
  }
}

// effect

.utils_effect {
  // Kevin Powell's favorite button
  &--kp-btn:hover,
  &--kp-btn:focus {
    transform: scale(1.2);
  }
  @supports selector(:focus-visible) {
    &--kp-btn:focus {
      transform: scale(1);
    }
    &--kp-btn:focus-visible {
      outline-offset: 0.5em;
    }
  }
}

// shadow
