// box

.utils_p {
  &--3em {
    padding: 3em;
  }
}

.utils_m {
  &--0em {
    margin: 0em;
  }
}

// text

.utils_text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--justify {
    text-align: justify;
  }
  &--match-parent {
    text-align: match-parent;
  }
}

// shadow
