$color-black: #0b0909;
$color-white: #fafafa;

$color-neutral-opacity-300: #a1a1a140;
$color-neutral-opacity-400: #a1a1a180;
$color-neutral-opacity-500: #a1a1a1bf;

$color-black-opacity-300: #0b090980;
$color-black-opacity-400: #0b0909bf;
$color-black-opacity-500: #0b0909;

$color-neutral-400: #cacaca;

$color-primary-300: #f24066;
$color-primary-400: #f50035;
$color-primary-500: #c5002b;
